{% extends "page.html" %}

{% block subtitle %}{{ _('注册') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('注册'), controller='user', action='register') }}</li>
{% endblock %}

{% block primary_content %}
  <article class="module">
    <div class="module-content">
      {% block primary_content_inner %}
      <h1 class="page-heading">
        {% block page_heading %}{{ _('注册新账号') }}{% endblock %}
      </h1>
      {{ c.form | safe }}
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary_content %}
  {% block help %}
  <section class="module module-narrow module-shallow">
    {% block help_inner %}
    <h2 class="module-heading">{{ _('为什么要注册？') }}</h2>
    <div class="module-content">
      <p>{% trans %}拥有账号之后，可以新建数据集、组织和群组，在开放数据中找到很多有趣的事情{% endtrans %}</p>
    </div>
    {% endblock %}
  </section>
  {% endblock %}
{% endblock %}

