{% trans %}
<p>Omni-Lab位于上海交通大学网络信息中心，是一个以技术和兴趣为导向的开放科研工作室，全称为“开放移动网络与信息服务创新工作室”。</p>

<p>Omni-Lab开放数据共享平台基于CKAN开发。CKAN是世界领先的开放数据管理平台，集数据发布、数据共享、数据搜索和数据使用为一体，并且提供了强大而完善的RPC APIs供用户调用。CKAN的主要使用对象是国家和地区政府、公司企业、组织机构等数据发布源，为数据开放和数据访问提供了一种便捷可行的实现方案。</p>

<p>除了Omni-Lab，世界各地多处政府和用户群体也在使用CKAN进行数据开放：</p>

<ul> 
  <li>英国政府数据网站：<a href="http://data.gov.uk">data.gov.uk</a></li>
  <li>美国政府数据网站：<a href="http://data.gov">data.gov</a></li>
  <li>欧盟数据网站：<a href="http://publicdata.eu/">publicdata.eu</a></li>
  <li>巴西政府数据网站：<a href="http://dados.gov.br/">dados.gov.br</a></li>
</ul>

<p>关于CKAN的更多内容请访问：</p>

<p>CKAN：<a href="http://ckan.org/">http://ckan.org/</a><br />
CKAN Tour：<a href="http://ckan.org/tour/">http://ckan.org/tour/</a><br />
Features overview：<a href="http://ckan.org/features/">http://ckan.org/features/</a></p>
{% endtrans %}

